.button {
  display: block;
  padding: 8px 16px;
  margin-top: 16px;
  color: $black;
  background-color: $white;
  border-radius: 50px;
  border: none;
  font-family: $font-family-text;
  font-size: $font-size-button-mobile;
  letter-spacing: .2rem;
  text-transform: uppercase;
  cursor: pointer;
  transition-property: transform background-color;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  z-index: 10;
  
  @media screen and (min-width: 704px) {
    margin-top: 24px;
  }
  
  @media screen and (min-width: 1000px) {
    width: 280px;
    padding: 10px 0;
    margin-top: 32px;
    text-align: center;
    font-size: $font-size-title4-mobile;
  }
  
  &:hover {
    background-color: $light-green;
    transform: scale(1.02);
  }

  &:disabled {
    color: $transparent-black;
    cursor: not-allowed;
    transform: none;

    &::after {
      filter: opacity(.4);
    }

    &:hover {
      background-color: $white;
    }
  }

  &--mustard {
    background-color: $mustard;

    &:hover {
      background-color: $light-blue;

      &:disabled {
        background-color: $mustard;
      }
    }
  }

  &--azure {
    background-color: $azure;

    &:hover {
      background-color: $light-blue;

      &:disabled {
        background-color: $azure;
      }
    }
  }

  &--arrow {
    width: unset;

    @media screen and (min-width: 1000px) {
      padding-left: 32px;
      padding-right: 32px;
    }

    &:after {
      content: url('./img/Arrow.svg');
      position: relative;
      top: 1px;
      transform: translateX(-40%) scale(.2);
  
      @media screen and (min-width: 600px) {
        margin-left: 5px;
      }
    }
  }
}

a.button {
  text-decoration: none;
}
