@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora:wght@400;700&family=Montserrat:wght@400;600;700&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

$font-family-titles: 'Bebas Neue';
$font-family-text: 'Open Sans', 'open-sans';
$font-family-main-title: 'Lora';
$font-family-quote: 'Montserrat';

$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$font-size-base: 1rem; // 16px

$font-size: $font-size-base; // 16px
$line-height: 1.375 * $font-size-base; // 22px

// Mobile - (max-width: 599px)

$font-size-title1-mobile: 2 * $font-size-base; // 32px
$line-height-title1-mobile: 2.375 * $font-size-base; // 38px
$font-size-title2-mobile: 2 * $font-size-base; // 32px
$line-height-title2-mobile: 2 * $font-size-base; // 32px
$font-size-title3-mobile: 1.5 * $font-size-base; // 24px
$line-height-title3-mobile: 1.8125 * $font-size-base; // 29px
$font-size-title4-mobile: 1.375 * $font-size-base; // 22px
$line-height-title4-mobile: 1.625 * $font-size-base; // 26px

$font-size-subtitle1-mobile: 1.5 * $font-size-base; // 24px
$line-height-subtitle1-mobile: 1.375 * $font-size-base; // 22px
$font-size-subtitle2-mobile: 1.25 * $font-size-base; // 20px
$line-height-subtitle2-mobile: 1.5 * $font-size-base; // 24px
$font-size-subtitle3-mobile: 1.125 * $font-size-base; // 18px
$line-height-subtitle3-mobile: 1.375 * $font-size-base; // 22px
$font-size-subtitle4-mobile: 0.875 * $font-size-base; // 14px
$line-height-subtitle4-mobile: 0.8125 * $font-size-base; // 13px

$font-size-button-mobile: 1.125 * $font-size-base; // 18px
$line-height-button-mobile: 1.5625 * $font-size-base; // 25px

$font-size-mobile: 0.875 * $font-size-base; // 14px
$line-height-mobile: 1.1875 * $font-size-base; // 19px

$font-size-number: 0.75 * $font-size-base; // 12px
$line-height-number: 1 * $font-size-base; // 16px

$font-size-gallery-title-mobile: 3.375 * $font-size-base; // 54px
$line-height-gallery-title-mobile: 2.8125 * $font-size-base; //45px

// Desktop - (min-width: 992px)

$font-size-main-title-big: 4.5 * $font-size-base; // 72px
$font-size-main-title-medium-big: 4 * $font-size-base; // 64px
$font-size-main-title-medium: 3.375 * $font-size-base; // 54px
$line-height-main-title: 3.5 * $font-size-base; //56px

$font-size-main-subtitle-big: 1.125 * $font-size-base; // 18px
$line-height-main-subtitle-big: 1.125 * $font-size-base; // 18px
$font-size-main-subtitle-medium: 1 * $font-size-base; // 16px
$line-height-main-subtitle: 1 * $font-size-base; //16px

$font-size-title1: 3.375 * $font-size-base; // 54px
$line-height-title1: 3.5 * $font-size-base; // 64px
$font-size-title2: 3 * $font-size-base; // 48px
$line-height-title2: 3.625 * $font-size-base; // 58px
$font-size-title3: 3.375 * $font-size-base; // 54px
$line-height-title3: 2.6875 * $font-size-base; // 42px (43px)
$font-size-title4: 3 * $font-size-base; // 48px
$line-height-title4-big: 3.375 * $font-size-base; // 54px
$line-height-title4-medium: 3.25 * $font-size-base; // 52px
$line-height-title4-small: 3 * $font-size-base; // 48px

$font-size-subtitle1: 2.25 * $font-size-base; // 36px
$line-height-subtitle1: 2.6875 * $font-size-base; // 43px
$font-size-subtitle2: 2 * $font-size-base; // 32px
$line-height-subtitle2: 2.375 * $font-size-base; // 38px
$font-size-subtitle3: 1.75 * $font-size-base; // 28px
$line-height-subtitle3: 2.125 * $font-size-base; // 34px
$font-size-subtitle4: 1.375 * $font-size-base; // 22px
$line-height-subtitle4: 1.625 * $font-size-base; // 26px

$font-size-gallery-title: 6 * $font-size-base; // 96px
$line-height-gallery-title: 5 * $font-size-base; //76px

// $font-size-button-mobile: 1.375 * $font-size-base; // 22px
$line-height-button-mobile: 1.875 * $font-size-base; //30px

$font-size-footer-medium: 0.75 * $font-size-base; // 12px
$line-height-footer-medium: 0.75 * $font-size-base; // 12px

$font-size-footer-small: 0.625 * $font-size-base; // 10px;
$line-height-footer-small: 0.6875 * $font-size-base; // 11px
