.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  input:hover,
  input:focus,
  textarea:hover,
  textarea:focus {
    background-color: #DDEFE8;
    outline: none;
  }

  &__title {
    position: relative;
    color: $black;
    font-weight: $font-weight-normal;
    font-family: $font-family-titles;
    font-size: $font-size-title1-mobile;
    line-height: $line-height-title2-mobile;
    text-align: center;
    
    @media screen and (min-width: 600px) {
      max-width: 670px;
      font-size: $font-size-title4;
      line-height: $line-height-title4-medium;
    }
      
    @media screen and (min-width: 1000px) {
      max-width: 800px;
      font-size: $font-size-title1;
      line-height: $line-height-title2;
    }

    span {
      position: relative;
      z-index: 1;
    }

    &:after {
      content: url('./img/line-form.svg');
      position: absolute;
      bottom: -10px;
      left: 40%;
      transform: translateX(-50%) scale(.55);
      z-index: 0;
      
      @media screen and (min-width: 600px) {
        left: 50%;
        transform: translateX(-60%) scale(.89);
      }
      
      @media screen and (min-width: 1000px) {
        left: 47%;
        transform: translateX(-55%) scale(1);
      }
    }
  }

  &__description {
    margin: 0 20px;
    font-size: $font-size-mobile;
    line-height: $line-height;
    font-family: $font-family-text;
    text-align: center;

    @media screen and (min-width: 600px) {
      font-size: $font-size-base;
    }
  }

  &__form-wrapper {
    position: relative;
    display: block;
    max-width: 650px;
    width: 100%;
    margin-top: 8px;

    @media screen and (min-width: 600px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;
      margin-top: 36px;
    }

    @media screen and (min-width: 1000px) {
      margin-top: 50px;
    }
  }

  &__label {
    color: $black;
    font-family: $font-family-text;
    font-size: $font-size-mobile;
    line-height: $line-height;
    
    @media screen and (min-width: 600px) {
      font-size: $font-size-base;
    }
  }

  &__input {
    padding: 4px 12px;
    height: 30px;
    border: none;
    border-bottom: 1px solid $black;
    font-size: $font-size-mobile;
    transition: background-color .2s ease-in-out;
    
    @media screen and (min-width: 600px) {
      height: 40px;
      font-size: $font-size-base;
    }
  }

  &__name-wrapper,
  &__company-wrapper,
  &__email-wrapper,
  &__phone-wrapper, 
  &__message-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 8px;  
    
    @media screen and (min-width: 600px) {
      margin-top: 0;  
    }
  }

  &__name-wrapper {
    grid-row: 1;
    grid-column: 1;
  }

  &__company-wrapper {
    grid-row: 2;
    grid-column: 1;
  }
  
  &__email-wrapper {
    grid-row: 1;
    grid-column: 2;
  }

  &__phone-wrapper {
    grid-row: 2;
    grid-column: 2;
  }

  &__message-wrapper {
    grid-row: 3;
    grid-column: span 2;
  }
  
  &__textarea {
    display: block;
    padding: 4px 12px;
    height: 200px;
    resize: none;
    border: none;
    border-bottom: 1px solid $black;
    font-family: $font-family-text;
    font-size: $font-size-mobile;
    transition: background-color .2s ease-in-out;

    @media screen and (min-width: 600px) {
      font-size: $font-size-base;  
    }
  }

  &__button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    
    @media screen and (min-width: 600px) {
      grid-row: 4;
      grid-column: span 2;
      justify-self: center;
      margin: 0;
      font-size: $font-size-button-mobile;
    }
  }
}
