@import '../../styles/typography.scss';

.status-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 12px;
  text-align: center;

  &__icon {
    margin-bottom: 17px;
  }

  &__title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: $font-family-titles;
    font-size: $font-size-title3;
    line-height: $line-height-title3;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 0;
  }
}
